@import "globals";
@import "columns";
@import "container";
@import "navigation";

div, body {
    margin: 0;
    font-family: $font;
}

a:hover {
    color: lighten($color, 50%);
}
a {
    text-decoration: none;
    color: white;
}

.section:nth-child(odd) {
    background-color: lighten($color, 50%);
}

.section {
    img {
        display: block;
        height: 200px;
        margin: auto;
    }

    .small-image {
        display: inline-block;
        height: 75px;
        margin: 0;
        padding: 0;

        @media (min-width: getBreakpoint("large")) {
            height: 120px;
        }
    }

    div:last-child {
        text-align: center;
        ul {
            padding: 0;
            li{
                list-style-type: none;
            }
        }
        
    }
    padding-top: $padding;
    padding-bottom: $padding;
    background-color: white;
    background-clip: border-box;
}

.inline {
    li {
        display: inline;
    }
}

.footer {
    text-align: center;
    a {
        color:black;
        margin: $margin;
    }
}